<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Py Script -->
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Bloom Filters</title>
</head>
<body>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <p>Screen</p>
        </div>
        <div class="col">
            <p>Log/Output</p>
                <!-- <py-script>
                    print('Hello, World!')
                </py-script> -->
        </div>
    </div>
    <div class="row">
        <h4>Cache</h4>
        <table class="table table-bordered">
            <tr>
                <td>Bit i</td>
                <td>Bit i+1</td>
                <td>Bit i+2</td>
            </tr>
            <tr>
                <td>Bit i</td>
                <td>Bit i+1</td>
                <td>Bit i+2</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>